@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkomment till Realgymnasiet Gävles Labbsal</h1>
    <p>Just nu finns här inget innehåll.</p>
</div>
